/*************************************************/
/* *** BASICS - NOT NEEDED FOR POPUP TO WORK *** */
/*************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #242424;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 2rem;
}
button {
  font-size: 1.25rem;
  font-family: inherit;
  text-transform: uppercase;
}
/* Open Popup Button */
.btn {
  display: inline-flex;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #222;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
}

/* *********************** */
/* *** POPUP PLACEMENT *** */
/* *********************** */
.center {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
}
.bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
}
.top-right {
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
}
.top-left {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

/* *************************** */
/* *** POPUP FUNCTIONALITY *** */
/* *************************** */
.popup {
  display: flex;
  transform: scale(0);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.popup.active {
  transform: scale(1);
}
.popup-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 950px;
  z-index: 10;
  transition: 200ms ease-in-out;
  background-color: #f8e9e5;
  flex-flow: wrap;
  background-color: #f8e9e5;
  border: none;
  /* margin: 12px; */
  overflow: auto;
  padding: 30px 30px 0 30px;
}
/* SCROLLBAR */
.popup-container::-webkit-scrollbar {
  width: 8px;
}
.popup-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.popup-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.popup .close-button {
  color: #242424;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  padding: 6px 16px 16px 16px;
  position: absolute;
  top: 0;
  right: 0;
}
.popup .close-button:hover {
  color: #fff;
}

/* ********************** */
/* *** POPUP REGULAR  *** */
/* ********************** */
.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .popup-header .popup-title {
  opacity: 1;
  padding: 0;
  color: #ca3a3a;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 50px;
}
.popup .popup-image {
  background: url(./images/img-1.png) no-repeat center center;
  width: 100%;
  height: 350px;
  max-height: 40vh;
  max-width: 100%;
  margin: 0 0 20px 0;
  background-size: cover;
}
.popup .popup-body {
  padding: 10px 50px;
}
.popup .cta-btn {
  width: fit-content;
  align-self: center;
  border: none;
  padding: 15px 10px;
  text-align: center;
  background: #ca3a3a;
  color: #f8e9e5;
  border: 1px solid transparent;
  margin: 10px auto 25px;
  transition: all 200ms ease-in-out;
}
.popup .cta-btn:hover {
  transform: scale(1.1);
  border: 1px solid #ca3a3a;
  background: #f8e9e5;
  color: #ca3a3a;
}

/* ************************ */
/* *** POPUP IMAGE FULL *** */
/* ************************ */
.popup-img-full .popup-container {
  flex-direction: column;
  padding: 0;
}
.popup-img-full .close-button {
  color: #fff;
}
.popup-img-full .close-button:hover {
  color: #242424;
}
.popup-img-full .popup-header .popup-title {
  color: #242424;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 50px;
}
.popup-img-full .popup-image {
  height: 300px;
  background-size: 100%;
  background-size: cover;
}
.popup-img-full .popup-body {
  padding: 10px 30px;
}
.popup-img-full .cta-btn {
  background: inherit;
  margin: 10px auto 25px;
  border: 1px solid #242424;
  color: #242424;
}
.popup-img-full .cta-btn:hover {
  transform: scale(1.1);
  border: 1px solid transparent;
  background: #242424;
  color: #fff;
}

/* ************************ */
/* *** POPUP IMAGE LEFT *** */
/* ************************ */
.popup-2-col .popup-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: none;
  background: #357e65;
  padding: 0;
  margin: 0;
}
.popup-2-col .close-button {
  color: #fff;
}
.popup-2-col .close-button:hover {
  color: #242424;
}
.popup-2-col .popup-content {
  align-content: space-evenly;
}
.popup-2-col .popup-header .popup-title {
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  margin: 50px 10px 10px;
}
.popup-2-col .popup-image,
.popup-2-col .popup-content {
  flex-direction: column;
  flex: 50%;
  justify-content: space-evenly;
}
.popup-2-col .popup-image {
  /* width: 50%;
  max-width: 100%;
  height: 80vh;
  max-height: fit-content;
  align-self: center;
  justify-self: center;
  background-size: cover;
  padding: 0;
  margin: 0; */

  width: 50%;
  height: auto;
  max-height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}
.popup-2-col .popup-body {
  padding: 10px 30px;
  color: #fff;
}
.popup-2-col .cta-btn {
  background: inherit;
  margin: 10px auto 25px;
  background: #fff;
  color: #357e65;
  border: none;
}
.popup-2-col .cta-btn:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
  background: #357e65;
  color: #fff;
}
/* ****************** */
/* 2 COL IMAGE - LEFT */
/* ****************** */
.img-left .popup-container {
  flex-direction: row;
}

/* ******************* */
/* 2 COL IMAGE - RIGHT */
/* ******************* */
.img-right .popup-container {
  flex-direction: row-reverse;
}

/* ************* */
/* MEDIA QUERIES */
/* ************* */
@media only screen and (max-width: 992px) {
  .popup-container {
    max-height: 80%;
    overflow: auto;
    flex-direction: row;
    padding: 30px 10px 0 10px;
  }
  .popup .popup-header .popup-title {
    margin: 20px 10px 10px;
  }
  .popup .popup-image,
  .popup .popup-content {
    width: 100%;
  }
  .popup .popup-image {
    height: 400px;
    max-height: 30vh;
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  .popup .popup-body {
    padding: 10px 20px;
  }
  .popup-2-col .popup-image {
    flex-direction: row;
    flex: 100%;
  }
}

/* TODO: ADD active, lvht buttons */
/* TODO: Fix sizes of popups - too big at the mo? */
